nav{
    background-color: black;
    color: white;
    height: 3rem;
    padding: 1rem 0;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li{
    list-style: none;
    
    
}